# Ignore all logs
logs/
# Ignore Docker internal data
wazuh-data/
# Ignore pcap data
**/*.pcap
# Ignore local environment secrets
.env

commands.md

# VPN Secrets (Private Keys & Configs)
vpn/config/
