version: "3.9"

services:
  # =============================
  # APPLICATION & INFRASTRUCTURE
  # =============================
  api-service:
    build: ./backend-fastapi
    container_name: api-service
    volumes:
      - ./logs/api:/app/logs:z
    expose:
      - "8000"

  proxy-nginx:
    image: nginx:alpine
    container_name: proxy-nginx
    user: root
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro,z
      - ./logs/nginx:/var/log/nginx:z
    depends_on:
      - api-service

  db-service:
    image: postgres:15-alpine
    container_name: db-service
    environment:
      POSTGRES_DB: safepay
      POSTGRES_USER: safepay
      POSTGRES_PASSWORD: safepay
    volumes:
      - ./logs/db:/var/log/postgresql:z
    ports:
      - "5432:5432"

  auth-ldap:
    image: osixia/openldap:latest
    container_name: auth-ldap
    environment:
      LDAP_ORGANISATION: "SafePay"
      LDAP_DOMAIN: "safepay.local"
      LDAP_ADMIN_PASSWORD: admin
    volumes:
      - ./logs/ldap:/var/log/ldap:z

  # =============================
  # SECURITY & MONITORING
  # =============================

  ids-suricata:
    image: jasonish/suricata:latest
    container_name: ids-suricata
    user: root
    network_mode: host
    cap_add:
      - NET_ADMIN
      - SYS_NICE
      - NET_RAW
    volumes:
      - ./suricata:/etc/suricata:z
      - ./logs/suricata:/var/log/suricata:z
    command: -i enp12s0

  wazuh-manager:
    image: wazuh/wazuh-manager:4.7.2
    container_name: wazuh-manager
    ports:
      - "1514:1514/tcp"
      - "55000:55000"
    volumes:
      - wazuh-data:/var/ossec/data
      - ./wazuh/ossec.conf:/var/ossec/etc/ossec.conf:z
      - ./wazuh/custom-rules.xml:/var/ossec/etc/rules/custom_rules.xml:z

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.11.1
    container_name: filebeat
    user: root
    command: [ "filebeat", "-e", "-strict.perms=false" ]
    depends_on:
      - wazuh-manager
    volumes:
      - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro,z
      - ./logs:/logs:ro,z

volumes:
  wazuh-data:
